@model IEnumerable<Project.Models.GameOfferViewModels.GameOfferViewModel>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Games";
}

<h3>@ViewData["Title"] <span class="badge">@ViewData["GameOfferCount"]</span></h3>
<hr />
<p>

</p>
<form asp-action="Search" method="get" class="form-inline">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create" class="btn btn-success btn-sm">Create</a>
    }
    <input name="phrase" class="form-control input-sm" placeholder="@ViewData["phrase"]" autofocus/>
    <input type="submit" value="Search" class="btn btn-default btn-sm"/>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p asp-display-for="@item.Title"></p>
            </td>
            <td>
                <p asp-display-for="@item.GameCategory.Name"></p>
            </td>
            <td>
                <p asp-display-for="@item.GameType.Name"></p>
            </td>
            <td>
                <p asp-display-for="@item.Year"></p>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.GameOfferId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.GameOfferId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.GameOfferId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
